/* 공통사항 */
html, body {font-size: 14px; font-family: 'Roboto', sans-serif;}
.wrapper {max-width: 980px; margin: 80px auto; padding: 0 2%;}
.wrapper > h2 {padding: 16px 0; border-bottom: 1px solid #ccc; font-weight: normal;}

/* Header */
header {padding: 8px 12px; background-color: #fff; 
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); letter-spacing: 5px; position: fixed; top: 0; width: 100%; z-index: 9;}
header > .logo {float: left; padding: 8px 16px;}
header > .logo > span {font-weight : bold;}
header > .nav-wrap {float: right;}
header > .nav-wrap > div {float: left; padding: 8px 16px;}
header > .logo:hover, 
header > .nav-wrap > div:hover {background-color: #ddd; 
	cursor: pointer;}

/* Banner */
main {position: relative;}
.ban-slogan {font-size: 40px; letter-spacing: 6px; color: #fff; 
	position: absolute; top: 50%; left: 50%; 
	transform: translate(-50%, -20%); }
.ban-slogan > :first-child {font-weight: bold; display: inline-block; padding: 12px; background-color: black; opacity: 0.7;}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.nav-wrap {display: none;}
}

@media screen and (max-width: 575px) {
	.ban-slogan > :last-child {display: none;}
}