/* 공통사항 */
html, body {font-size: 14px; font-family: 'Roboto', sans-serif;}
.wrapper {max-width: 980px; margin: 80px auto; padding: 0 2%;}
.wrapper > h2 {padding: 16px 0; border-bottom: 1px solid #ccc; font-weight: normal;}
.wrapper > p {
	padding: 24px 0;
	line-height: 1.75;
	color: #444;
}

/* Header */
header {padding: 8px 12px; background-color: #fff; 
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3); letter-spacing: 5px; position: fixed; top: 0; width: 100%; z-index: 9;}
header > .logo {float: left; padding: 8px 16px;}
header > .logo > span {font-weight : bold;}
header > .nav-wrap {float: right;}
header > .nav-wrap > div {float: left; padding: 8px 16px;}
header > .logo:hover, 
header > .nav-wrap > div:hover {background-color: #ddd; 
	cursor: pointer;}

/* Banner */
main {position: relative;}
.ban-slogan {font-size: 40px; letter-spacing: 6px; color: #fff; 
	position: absolute; top: 50%; left: 50%; 
	transform: translate(-50%, -20%); }
.ban-slogan > :first-child {font-weight: bold; display: inline-block; padding: 12px; background-color: black; opacity: 0.7;}

/* Projects */
.prjs {margin-top: 50px; width: 101%; margin-left: -0.5%;}
.prj {float: left; width: 24%; margin: 0.5%; position: relative;}
.prj > .title {padding: 8px; background-color: #111; color: #f8f8f8;
position: absolute; top: 0; left: 0;}

/* About */
.members {width: 102%; margin: 24px 0 0 -1%;}
.member {width: 23%; float: left; margin: 1%;}
.member img:hover {opacity: 0.8;}
.member > .name {padding: 8px 0; font-size: 24px;}
.member > .title {padding: 8px 0; font-size: 16px; color: #999;}
.member > .cont {padding: 8px 0; font-size: 14px; color: #333; line-height: 1.5;}
.member > .btn {padding: 12px 0; background-color: #ddd; color: #111; text-align: center; cursor: pointer;}
.member > .btn:hover {background-color: #aaa;}

/* Contact */
.contact-wrap input {width: 100%; padding: 8px; border: 1px solid #aaa; color: #555; margin: 8px 0;}

/* Map */
.map-wrap {padding: 2%;}

/* Footer */
.footer {padding: 30px 0; color: #f1f1f1; text-align: center; background-color: #111;}

@media screen and (max-width: 992px) {
	
}

@media screen and (max-width: 768px) {
	.nav-wrap {display: none;}
	.prj {width: 49%;}
	.member {width: 48%; margin-bottom: 3%;}
}

@media screen and (max-width: 575px) {
	.ban-slogan > :last-child {display: none;}
	.prj {width: 99%;}
	.member {width: 98%;}
}